DirectoryIndex index.html index.xml

Options +FollowSymlinks
RewriteEngine On
RewriteBase /

ErrorDocument 404 http://byjoemoon.com/404

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)\.html$ $1 [QSA,L]

# add .html file extension (if such file does exist)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.+$ %{REQUEST_FILENAME}.html [L]
