DirectoryIndex index.html index.xml

RewriteEngine On

ErrorDocument 404 http://byjoemoon.com/404

# Remove .html extension
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.html -f
# RewriteRule ^(.*)$ $1.html
RewriteCond %{REQUEST_URI} !-f
RewriteRule ^([\w\d\-]+)$ $1.html [L]

# Do not do anything for already existing files and folders
RewriteCond %{REQUEST_FILENAME} -f 
RewriteRule .+ - [L]

# add .html file extension (if such file does exist)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.+$ %{REQUEST_FILENAME}.html [L]
