---
layout: default
title: Welcome to PHP Fog Documentation!
---

<p>PHP Fog is a rock-solid Cloud Platform for PHP. New to PHP Fog? <a href="/getting-started">Get started here.</a></p>

<p>Looking for the Documentation for AppFog? Those are <a href="http://docs.appfog.com">here</a>.</p>

<p>Have a question? Try our <a href="/faqs">FAQs</a>.</p>

<p>Running into a problem? Check out our <a href="/troubleshooting">Troubleshooting Guide</a>.</p>

<p>Can't find the answer you're looking for? Try our <a href="http://community.phpfog.com/">Community</a> or <a href="mailto:support@appfog.com">email our support desk</a>.</p>

<div class="listing">
<a href="/getting-started/"><h3>Getting Started</h3></a>
<ol>
{% for current in site.categories.getting-started %}
<li {% if current.url == page.url %}class="on"{% endif %}><a href="{{ current.url }}">{{ current.title }}</a></li>
{% endfor %}
</ol>
</div>

<div class="listing">
<a href="/customize/"><h3>Customize Your App</h3></a>
<ol>
<li><a href="http://phpfog.com/addons">Add-ons</a>
{% for current in site.categories.customize %}
<li {% if current.url == page.url %}class="on"{% endif %}><a href="{{ current.url }}">{{ current.title }}</a></li>
{% endfor %}
</ol>
</div>

<div class="listing">
<a href="/best-practices/"><h3>Best Practices</h3></a>
<ol>
{% for current in site.categories.best-practices %}
<li {% if current.url == page.url %}class="on"{% endif %}><a href="{{ current.url }}">{{ current.title }}</a></li>
{% endfor %}
</ol>
</div>

<div class="listing">
<a href="/faqs"><h3>Frequently Asked Questions</h3></a>
<a href="http://phpfog.com/pricing"><h3>Pricing</h3></a>
<a href="/billing"><h3>Billing</h3></a>
<a href="/reliability"><h3>Reliability</h3></a>
<a href="/security"><h3>Security</h3></a>
<a href="/troubleshooting"><h3>Troubleshooting</h3></a>
</div>
