---
layout: default
title: PHP Fog Documentation
---

<form id="search" action="/search.html">
    <input type="text" id="search" name="q" />
    <input type="submit" value="Search" />
</form>

<a href="/getting-started/"><h6>Getting Started</h6></a>
<ol>
{% for current in site.categories.getting-started %}
<li {% if current.url == page.url %}class="on"{% endif %}><a href="{{ current.url }}">{{ current.title }}</a></li>
{% endfor %}
</ol>

<a href="/customize/"><h6>Customize Your App</h6></a>
<ol>
{% for current in site.categories.customize %}
<li {% if current.url == page.url %}class="on"{% endif %}><a href="{{ current.url }}">{{ current.title }}</a></li>
{% endfor %}
</ol>

<a href="/best-practices/"><h6>Best Practices</h6></a>
<ol>
{% for current in site.categories.best-practices %}
<li {% if current.url == page.url %}class="on"{% endif %}><a href="{{ current.url }}">{{ current.title }}</a></li>
{% endfor %}
</ol>

<a href="/faqs"><h6>Frequently Asked Questions</h6></a>
<a href="/troubleshooting"><h6>Troubleshooting</h6></a>

  <div id="results">
  </div>
