---
layout: default
---
<div class="row">
	<div class="span10 offset1">
		<div class="block">
		<div class="blog-title">
			<h2>{{ page.title }}</h2>
			<p><date datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</date><p>
		</div>
		{{ content | markdownify }}
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
	<div class="block">
	<div class="pagination pagination-centered">
		<ul class="pager">
			{% if page.previous %}
			<li class="previous">
				<a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title | truncatewords: 8 }}">&larr;{{ page.previous.title }}</a>
			</li>
			{% endif %}
			{% if page.next %}
			<li class="next">
				<a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}&rarr;</a>
			</li>
			{% endif %}
		</ul>
	</div>
	</div>
	</div>
</div>
